*{
  font-family: "IBM Plex Mono", monospace;
  margin: 0;
}

:root {
  --white: #FFFFFF;
  --lightGreen: #B7E4C7;
  --mediumGreen: #52B788;
  --darkGreen: #1b433b;
}

body {
  background-color: var(--lightGreen);
}